<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Items</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>All Items</h1>
    <ul id="items-list">
      <% items.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong>: <%= item.description %> (Owned by:
        <%= item.owner_id %>)
        <form
          action="/admin/items/delete/<%= item.id %>"
          method="post"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <script>
      const itemsList = document.getElementById("items-list");
      const socket = new WebSocket(`ws://${window.location.host}`);

      socket.onmessage = function (event) {
        const message = JSON.parse(event.data);

        if (message.type === "NEW_ITEM") {
          const item = message.item;
          const newItem = document.createElement("li");
          newItem.innerHTML = `
          <strong>${item.name}</strong>: ${item.description} (Owned by: ${item.owner_id})
          <form action="/admin/items/delete/${item.id}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        `;
          itemsList.appendChild(newItem);
        }
      };
    </script>
  </body>
</html>
